header {
    background: #fff;
    padding: 40px;
    text-align: center;
    color: #000;
}

header h1 {
    font-size: 48px;
    margin-bottom: 20px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    color: #ff5f6d;
}

header p {
    font-size: 24px;
    margin-bottom: 30px;
    font-weight: bold;
}

header .btn {
    display: inline-block;
    padding: 12px 24px;
    font-size: 20px;
    background-color: #ff5f6d;
    color: #fff;
    text-decoration: none;
    border-radius: 10px;
    transition: background-color 0.3s ease;
}

header .btn:hover {
    background-color: #a9323e;
}

#services {
    margin-top: 40px;
    background-color: #fff;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.service_el {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
}

.subtitle {
    font-size: 36px;
    color: #ff5f6d;
    margin-bottom: 20px;
}

#services .service {
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    padding: 20px;
    text-align: center;
    background: #f2f2f2;
}

#services .service img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;
    margin-top: 10px;
}

#blog {
    margin-top: 10px;
    background-color: #fff;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#blog h2 {
    font-size: 36px;
    color: #ff5f6d;
    margin-bottom: 20px;
}

.blog-post {
    margin-bottom: 40px;
}

.blog-post h3 {
    color: #333;
    font-size: 28px;
    margin-bottom: 10px;
}

.blog-post p {
    color: #666;
    font-size: 20px;
    line-height: 1.5;
    margin-bottom: 10px;
}

#about {
    margin-top: 20px;
    text-align: left;
    background-color: #fff;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#about h2 {
    font-size: 36px;
    color: #ff5f6d;
    margin-bottom: 20px;
}

#about p {
    font-size: 20px;
    color: #333333;
    line-height: 1.5;
    margin-bottom: 20px;
}

#feedback {
    margin-top: 10px;
    background-color: #fff;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#feedback h2 {
    font-size: 36px;
    color: #ff5f6d;
    margin-bottom: 20px;
}

#feedback form {
    margin-top: 20px;
}

#feedback label {
    display: block;
    margin-bottom: 10px;
    font-size: 20px;
    color: #333;
}

#feedback input[type="text"],
#feedback input[type="email"],
#feedback textarea {
    width: 100%;
    padding: 12px;
    font-size: 18px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
}

#feedback textarea {
    height: 150px;
    max-width: 100%;
}

#feedback button[type="submit"] {
    background-color: #333;
    color: #fff;
    padding: 12px 24px;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#feedback button[type="submit"]:hover {
    background-color: #555;
}

#contact {
    margin: 10px 0;
    background-color: #fff;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#contact h2 {
    font-size: 36px;
    color: #ff5f6d;
    margin-bottom: 20px;
}

#contact p {
    font-size: 20px;
    color: #333;
    margin-bottom: 10px;
}

#contact p:last-child {
    margin-bottom: 0;
}

body {
    font-family: Arial, sans-serif;
    margin: 20px;
    box-sizing: border-box;
}

.container {
    max-width: 1100px;
    margin: 0 auto;
    background-color: #f5f5f5;
    padding: 20px;
    border-radius: 10px;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 36px;
    animation: slideIn 1s forwards;
}

h2 {
    animation: slideIn 1s forwards;
    margin-bottom: 20px;
    font-size: 28px;
}

p {
    margin-bottom: 10px;
    font-size: 18px;
    animation: slideInLeft 1s forwards;
}

.img_horizontal {
    overflow: auto;
    object-fit: cover;
    background-position: center;
    background-size: cover;
}

img {
    max-height: 1000px;
    width: 100%;
    border-radius: 10px;
    background-position: center;
    background-size: cover;
    overflow: auto;
}

.photo-gallery {
    display: flex;
    flex-direction: row;
}

.video-container {
    position: relative;
    width: 100%;
    padding-bottom: 56.25%;
    margin-bottom: 10px;
}

.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

li {
    margin-bottom: 5px;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

footer p {
    margin: 0;
    padding: 0;
    font-size: 16px;
}

.footer-link {
    color: #fff;
    text-decoration: none;
}

.footer-link:hover {
    text-decoration: underline;
}

.footer-info {
    margin-top: 10px;
    font-size: 14px;
}

@keyframes slideIn {
    from {
        transform: translateY(100%);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes slideInLeft {
    from {
        transform: translateX(-20px);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}


/*--------------------------------------------------SIDEBAR----------------------------------------*/

#portfolio {
    margin-top: 10px;
    background-color: #fff;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#portfolio h2 {
    font-size: 36px;
    color: #ff5f6d;
    margin-bottom: 20px;
}

.slideshow-container {
    max-width: 100%;
    position: relative;
    margin: auto;
}

.mySlides {
    display: none;
}

img {
    vertical-align: middle;
    max-width: 100%;
    height: auto;
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    background-color: rgba(0, 0, 0, 0.8);
}

.prev {
    left: 0;
    border-radius: 3px 0 0 3px;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.numberText {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
    background-color: rgba(0, 0, 0, 0.5);
}

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active, .dot:hover {
    background-color: #717171;
}

.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {
        opacity: .4;
    }
    to {
        opacity: 1;
    }
}

@media only screen and (max-width: 300px) {
    .prev, .next, .numberText {
        font-size: 11px;
    }
}

/*--------------------------------------------------SIDEBAR----------------------------------------*/

/* Общие стили */

/* Стили для мобильных устройств */
@media only screen and (max-width: 600px) {
    .service_el {
        margin-right: 10px;
    }

    .container {
        padding: 5px;
        border-radius: 5px;
    }

    header {
        padding: 20px;
    }

    header h1 {
        font-size: 36px;
        margin-bottom: 10px;
    }

    header p {
        font-size: 18px;
        margin-bottom: 20px;
    }

    header .btn {
        padding: 10px 20px;
        font-size: 16px;
    }

    #services {
        padding: 5px;
    }

    .subtitle {
        font-size: 24px;
        margin-bottom: 10px;
    }

    #services .service {
        padding: 10px;
    }

    #services .service img {
        width: 150px;
        height: 150px;
        margin-top: 5px;
    }

    #blog {
        padding: 20px;
    }

    #blog h2 {
        font-size: 24px;
        margin-bottom: 10px;
    }

    .blog-post h3 {
        font-size: 20px;
        margin-bottom: 5px;
    }

    .blog-post p {
        font-size: 16px;
        margin-bottom: 5px;
    }

    #about {
        padding: 20px;
    }

    #about h2 {
        font-size: 24px;
        margin-bottom: 10px;
    }

    #about p {
        font-size: 16px;
        margin-bottom: 10px;
    }

    #feedback {
        padding: 20px;
    }

    #feedback h2 {
        font-size: 24px;
        margin-bottom: 10px;
    }

    #feedback label {
        font-size: 16px;
        margin-bottom: 5px;
    }

    #feedback input[type="text"],
    #feedback input[type="email"],
    #feedback textarea {
        font-size: 14px;
        margin-bottom: 5px;
        padding: 7px;
    }

    #feedback textarea {
        height: 100px;
    }

    #feedback button[type="submit"] {
        padding: 10px 20px;
        font-size: 16px;
    }

    #contact {
        padding: 20px;
    }

    #contact h2 {
        font-size: 24px;
        margin-bottom: 10px;
    }

    #contact p {
        font-size: 16px;
        margin-bottom: 5px;
    }
}